.features-card1,.features-card2,.features-card3{
width:30.6%;
float:left;
margin:10px;
padding:10px;
height:auto;
text-align:center;
  border: 1px solid grey;
  border-radius: 5px;
-webkit-box-shadow:0 9px 40px 0 rgba(41,54,81,.34);
  -moz-box-shadow:0 9px 40px 0 rgba(41,54,81,.34);
  box-shadow:0 9px 40px 0 rgba(41,54,81,.34);
  overflow:hidden;
}

.features-card1{
position:relative;}

@media screen and (max-width:800px){
.features-card1,.features-card2,.features-card3{
width:96%;
}}
.jumbotron {
color: #2c3e50;
}
.features.a {
color:blue;
padding:10px;
}

.feature-card-title{ font-weight:600;  color:#ff6600;}	
.feature-service{ text-align:center; color:#ff6600; font-weight:600;}
.feature-title{ text-align:center;}